/* ============== Global Styles ========== */
* {
    margin: 0;
    padding: 0;
    font-family: work-sans, poppins;
}

h1 {
    font-size: 50px;
    font-weight: 600;
    text-transform: uppercase;
}

a {
    text-decoration: none;
}

.max-width-and-center {
    max-width: 1200px;
    margin: 0 auto;
}

:root {
    --primary-color: rgba(255, 66, 165, 1);
    --linear: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    --secondary-color: #0B0223;
    --text-color: #534C64;
    --background-color: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%,
            rgba(255, 66, 165, 0.03) 100%);
    --accent-font-size: 18px;
    --white: #fff;
    --sky-blue: #4EC5F7;
    --ash: rgba(11, 2, 35, 0.10);
}

/* Color Global Selectors */

.primary-color {
    color: var(--primary-color)
}

.secondary-color {
    color: var(--secondary-color)
}

.linear {
    color: transparent;
    background-image: var(--linear);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}

.text-color {
    color: var(--text-color)
}

.white{
    color: #fff;
}

.background-color {
    background: var(--background-color);
}

/* Font Styles */

.primary-heading {
    font-size: 48px;
    font-weight: 700;
    line-height: 125%;
}

.secondary-heading {
    font-size: 20px;
    font-weight: 600;
    line-height: 150%;
}

.text {
    font-size: 18px;
    font-weight: normal;
    line-height: 160%;
}

/* Buttons Styles */

.primary-btn {
    font-size: var(--accent-font-size);
    font-weight: 600;
    color: var(--white);
    background-color: var(--primary-color);
    padding: 12px 40px;
    border: none;
    border-radius: 30px;
    text-transform: uppercase;
}

.secondary-btn {
    font-size: var(--accent-font-size);
    font-weight: 600;
    color: var(--white);
    background-color: var(--sky-blue);
    padding: 12px 40px;
    border: none;
    border-radius: 30px;
    text-transform: uppercase;
}

/*============= Header Styles ===============*/

/* Nav Styles */
nav {
    box-shadow: 0px 0px 30px #0000000f;
}

.nav-wrap {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

/* Logo Styles */

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.logo-wrap {
    display: inline-block;
}

.logo-text {
    font-size: 44px;
    font-weight: 700;
}

.logo-text span {
    color: var(--primary-color);
}

/* Menu Styles */

.menu-wrap {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.menu-wrap .social-share {
    display: flex;
    align-items: center;
    gap: 20px;
}

.social-share img {
    width: 22px;
    height: 100%;
}

.menu-item {
    font-size: 18px;
    font-weight: 500;
    color: var(--secondary-color);
}

.social-share {
    background-color: var(--ash);
    padding: 12px 24px;
    border-radius: 8px;
}

/* =============== Body Styles ============= */

/* Hero Section */

.hero {
    background: url(../images/Group\ 14.webp);
    background-repeat: no-repeat;
}

.hero-wrap {
    display: flex;
    flex-wrap: nowrap;
}

.hero-wrap .left-col {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 100px 0;

}

.hero .left-col span.linear {
    font-size: 90px;
    font-weight: 800;
}

.feature-list-item {
    display: flex;
    gap: 10px;
}

.hero-wrap .left-col ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.hero-wrap .right-col,
.left-col {
    width: 50%;
    align-items: flex-start;
    justify-content: center;
}

.hero-wrap .right-col img {
    width: 100%;
}

.hero-buttons {
    margin-top: 20px;
    display: flex;
    gap: 20px;
}


/* Online Games Section Styles */

.online-games {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 100px 0;
}

.online-games p {
    margin-bottom: 30px;
}

.funny-videos-wrap {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.funny-video {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    max-width: 300px;
}

.overlay {
    display: none;
    width: 303px;
    height: 353px;
    background-color: black;
    opacity: 0.7;
    top: 0;
    left: 0;
    position: absolute;
    border-radius: 16px;
    display: none;
    z-index: 5;
}

.funny-video:hover .overlay{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    color: var(--primary-color);
}

/* Play Instantly Section */

.instant-play{
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
}

.instant-play img:nth-child(1){
    width: 100%;
}
.instant-play img:nth-child(2){
    width: 250px;
    border: 5px solid --white;
    margin: -200px 0 0 -100px;
}

.instant-play > img{
    width: 50px;
}

.instant-play .right-col {
    width: 45%;
}

.instant-play .left-col {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    width: 40%;
}

/* Footer Area Styles */

/* Games Category Section */

.games-category{
    background-color: rgba(255, 66, 164, 0.034);
}
.category-wrap{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 100px 0;
}

.category-item{
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 10px;
    background-color: var(--white);
    border: 2px solid var(--white);
    border-radius: 60px;
}

.category-item:hover{
    border-color: var(--primary-color);
    color: var(--primary-color);
}

.category-item p{
    font-size: 16px;
    font-weight: 600;
}

/* Main Footer Area Styles  */
.footer-area > .logo > .logo-text, .footer-nav-top > .menu-item{
    color: var(--white);
}

.footer-nav-top{
    font-size: 16px;
    font-weight: 600;
    margin: 30px 0 30px 0;
}

.footer-nav-bottom .menu-item, .copyright{
    font-size: 14px;
}
.footer-area{
    background-color: #0B0223;
    color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 15px;
    text-align: center;
    padding: 100px 0;
}

.footer-area h2{
    font-size: 48px;
}

.footer-area .footer-wrap .logo .logo-text span{
    color: #E55473;
}

.footer-wrap > .footer-nav-bottom {
    color: black;
    margin-top: 30px;
    margin-bottom: 30px;
}

.copyright p, .footer-nav-bottom a{
    margin-top: 10px;
    color: rgba(255, 255, 255, 0.556);
}


/* ==================== Responsive Styles ====================== */

/* For Mobile Devices (Max-width: 576px) */

@media screen and (max-width: 576px) {

    /* ============== Global Styles ==============*/


    .max-width-and-center {
        max-width: 100vw;
        margin: 0 auto;
    }

    /* Font Styles */
    
    .primary-heading {
        font-size: 30px;
        font-weight: 700;
        line-height: 125%;
    }
    
    .secondary-heading {
        font-size: 18px;
        font-weight: 600;
        line-height: 150%;
    }
    
    .text {
        font-size: 16px;
        font-weight: normal;
        line-height: 160%;
    }
    
    /* Buttons Styles */
    
    .primary-btn {
        font-size: 14px;
        font-weight: 600;
        color: var(--white);
        background-color: var(--primary-color);
        padding: 12px 30px;
        border: none;
        border-radius: 30px;
        text-transform: uppercase;
    }
    
    .secondary-btn {
        font-size: 14px;
        font-weight: 600;
        color: var(--white);
        background-color: var(--sky-blue);
        padding: 12px 30px;
        border: none;
        border-radius: 30px;
        text-transform: uppercase;
    }
    
    h1 {
        font-size: 35px;
        font-weight: 600;
        text-transform: uppercase;
    }
    
    /* Nav Styles  */
    .nav-wrap{
        flex-direction: column;
        gap: 20px;
        padding: 40px 0;
    }

    /* Hero Styles  */
    .hero{
        background-position: bottom center !important;
        padding: 50px 0;
    }
    .menu-wrap{
        flex-direction: column;
    }

    .hero-wrap{
        flex-direction: column-reverse;
        padding: 20px;
        gap: 20px;
        max-width: 90vw;
    }


    .hero .hero-wrap .left-col .linear {
        font-size: 70px;
        font-weight: 800;
        text-align: center;
    }

    .hero .hero-wrap .right-col, .left-col{
        width: auto;
    }
    
    .hero-wrap .left-col {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 20px 0;
    }
    
/* Online Games  */

.online-games{
    padding: 20px;
    padding: 50px 0;
}

.online-games h2, .online-games p{
    width: 80%;
    margin: 0 auto;
}

.funny-videos-wrap{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.funny-video{
    width: auto;
}
    
/* Instant Play Section  */

.instant-play{
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    gap: 20px;
}

.instant-play .right-col, .instant-play .left-col{
    justify-content: center;
    align-items: center;
    width: 80vw;
}

.instant-play img:nth-child(1) {
    max-width: 80vw;
    border: 5px solid --white;
    margin: 0;
}

.instant-play img:nth-child(2) {
    max-width: 35%;
    border: 5px solid --white;
    margin-top: -100px;
    margin-left: -200px;
}

/* Games Category Section */

.games-category{
    background-color: rgba(255, 66, 164, 0.034);
}
.category-wrap{
    display: grid;
    grid-template-columns: repeat(3,13fr);
    gap: 8px;
    padding: 50px 20px;
}

.category-item{
    /* min-width: 25%; */
    width: auto;
    flex-shrink: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
    background-color: var(--white);
    border: 2px solid var(--white);
    border-radius: 60px;
}

.category-item:hover{
    border-color: var(--primary-color);
    color: var(--primary-color);
}

.category-item p{
    font-size: 8px;
    font-weight: 600;
}

.category-item img{
    width: 25%;
}

/* Footer Section Styles */

footer-area{
    padding: 50px 0;
}

.footer-wrap{
    max-width: 80vw;
}
.menu-item{
    font-size: 16px;
}
.footer-area .social-share{
    flex-direction: row;
}

.footer-nav-top{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px;
}

.footer-area > .footer-wrap > .footer-nav-top a{
    font-size: 14px;
}

.footer-nav-bottom{
    margin-top: 25px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px;
}

.footer-area > .footer-wrap > .footer-nav-bottom a{
    font-size: 12px;
}

.copyright{
    margin-top: 50px;
    font-size: 13px;
}
}


/* =========== Responsive Styles for TABLET Devices( max-width: 768px ) ========== */

@media screen and (max-width: 768px) {

    .max-width-and-center {
        max-width: 100vw;
        margin: 0 auto;
    }

    /* Font Styles */
    
    .primary-heading {
        font-size: 30px;
        font-weight: 700;
        line-height: 125%;
    }
    
    .secondary-heading {
        font-size: 18px;
        font-weight: 600;
        line-height: 150%;
    }
    
    .text {
        font-size: 16px;
        font-weight: normal;
        line-height: 160%;
    }
    
    /* Buttons Styles */
    
    .primary-btn {
        font-size: 14px;
        font-weight: 600;
        color: var(--white);
        background-color: var(--primary-color);
        padding: 12px 30px;
        border: none;
        border-radius: 30px;
        text-transform: uppercase;
    }
    
    .secondary-btn {
        font-size: 14px;
        font-weight: 600;
        color: var(--white);
        background-color: var(--sky-blue);
        padding: 12px 30px;
        border: none;
        border-radius: 30px;
        text-transform: uppercase;
    }
    
    h1 {
        font-size: 35px;
        font-weight: 600;
        text-transform: uppercase;
    }

    /* Nav Styles  */
    .nav-wrap{
        gap: 20px;
        padding: 20px 20px;
    }

    .menu-wrap a, .menu-wrap .social-share {
        font-size: 14px;
        font-weight: 600;
    }

    /* Hero Styles  */
    .hero{
        background-position: bottom center !important;
        padding: 50px 0;
    }

    .hero-wrap{
        padding: 20px;
        gap: 20px;
        max-width: 90vw;
    }


    .hero .hero-wrap .left-col .linear {
        font-size: 70px;
        font-weight: 800;
        text-align: center;
    }

    .hero .hero-wrap .right-col, .left-col{
        width: auto;
    }
    
    .hero-wrap .left-col {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 20px 0;
    }
    
    .feature-list-item
/* Online Games  */

.online-games{
    padding: 20px;
    padding: 50px 0;
}

.online-games h2, .online-games p{
    width: 80%;
    margin: 0 auto;
}

.funny-videos-wrap{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.funny-video{
    width: auto;
}
    
/* Instant Play Section  */

.instant-play{
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    gap: 20px;
}

.instant-play .right-col, .instant-play .left-col{
    justify-content: center;
    align-items: center;
    width: 80vw;
}

.instant-play img:nth-child(1) {
    max-width: 80vw;
    border: 5px solid --white;
    margin: 0;
}

.instant-play img:nth-child(2) {
    max-width: 35%;
    border: 5px solid --white;
    margin-top: -100px;
    margin-left: -200px;
}

/* Games Category Section */

.games-category{
    background-color: rgba(255, 66, 164, 0.034);
}
.category-wrap{
    display: grid;
    grid-template-columns: repeat(3,13fr);
    gap: 8px;
    padding: 50px 20px;
}

.category-item{
    /* min-width: 25%; */
    width: auto;
    flex-shrink: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
    background-color: var(--white);
    border: 2px solid var(--white);
    border-radius: 60px;
}

.category-item:hover{
    border-color: var(--primary-color);
    color: var(--primary-color);
}

.category-item p{
    font-size: 8px;
    font-weight: 600;
}

.category-item img{
    width: 25%;
}

/* Footer Section Styles */

footer-area{
    padding: 50px 0;
}

.footer-wrap{
    max-width: 80vw;
}
.menu-item{
    font-size: 16px;
}
.footer-area .social-share{
    flex-direction: row;
}

.footer-nav-top{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px;
}

.footer-area > .footer-wrap > .footer-nav-top a{
    font-size: 14px;
}

.footer-nav-bottom{
    margin-top: 25px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px;
}

.footer-area > .footer-wrap > .footer-nav-bottom a{
    font-size: 12px;
}

.copyright{
    margin-top: 50px;
    font-size: 13px;
}

}